<?xml version="1.0" encoding="UTF-8"?>
<!--
    status : 这个用于设置log4j2自身内部的信息输出,可以不设置,当设置成trace时,会看到log4j2内部各种详细输出
    monitorInterval : Log4j能够自动检测修改配置文件和重新配置本身, 设置间隔秒数。
-->
<!-- status="OFF"，可以去掉，它的含义为是否记录log4j2本身的event信息，默认是OFF -->
<configuration status="info" monitorInterval="600">
<!-- 定义下面的引用名 -->
    <Properties>
        <property name="filepath">/data/demo/rabbitmq</property>
    </Properties>
    <!--先定义所有的appender-->
    <appenders>
        <!--这个输出控制台的配置-->
        <Console name="Console" target="SYSTEM_OUT">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            <!--这个都知道是输出日志的格式-->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </Console>

        <!--这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
        <RollingFile name="subscribelog" fileName="${filepath}/log/subscribe.log"
                     filePattern="${filepath}/logs/subscribe/$${date:yyyy-MM}/%d{yyyy-MM-dd HH}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss z}|%msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="5MB" /> 
            <DefaultRolloverStrategy max="100" /> 
        </RollingFile>
        <!--这个会打印出处理消息返回false的信息-->
        <RollingFile name="subscribefalselog" fileName="${filepath}/log/subscribefalse.log"
                     filePattern="${filepath}/logs/subscribefalse/$${date:yyyy-MM}/%d{yyyy-MM-dd HH}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss z}|%msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="5MB" /> 
            <DefaultRolloverStrategy max="100" /> 
        </RollingFile>
        <RollingFile name="publishlog" fileName="${filepath}/log/publish.log"
                     filePattern="${filepath}/logs/publish/$${date:yyyy-MM}/%d{yyyy-MM-dd HH}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss z}|%msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="5MB" /> 
            <DefaultRolloverStrategy max="100" /> 
        </RollingFile>
        <RollingFile name="publishfalselog" fileName="${filepath}/log/publishfalse.log"
                     filePattern="${filepath}/logs/publishfalse/$${date:yyyy-MM}/%d{yyyy-MM-dd HH}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss z}|%msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="5MB" /> 
            <DefaultRolloverStrategy max="100" /> 
        </RollingFile>
        <RollingFile name="RollingFile_debug" fileName="${filepath}/log/debug.log"
                     filePattern="${filepath}/logs/debug/$${date:yyyy-MM}/%d{yyyy-MM-dd HH}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="5MB" /> 
            <DefaultRolloverStrategy max="100" /> 
              <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>  
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>  
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>  
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
              </Filters>
        </RollingFile>
        <RollingFile name="RollingFile_info" fileName="${filepath}/log/info.log"
                     filePattern="${filepath}/logs/info/$${date:yyyy-MM}/%d{yyyy-MM-dd HH}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="5MB" /> 
            <DefaultRolloverStrategy max="100" /> 
              <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>  
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>  
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
              </Filters>
        </RollingFile>
        
        <RollingFile name="RollingFile_error" fileName="${filepath}/log/error.log"
                     filePattern="${filepath}/logs/error/$${date:yyyy-MM}/%d{yyyy-MM-dd HH}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="5MB" /> 
            <DefaultRolloverStrategy max="100" /> 
              <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
              </Filters>
        </RollingFile>
    </appenders>
    <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效-->
    <loggers>
        <!--建立一个默认的root的logger-->
        <root  level="debug">
            <appender-ref ref="RollingFile_debug"/>
            <appender-ref ref="RollingFile_info"/>
            <appender-ref ref="RollingFile_error"/>
            <appender-ref ref="Console"/>
        </root >
        <Logger name="subscribeLog" level="info" additivity="false">  
            <appender-ref ref="subscribelog"/>
        </Logger>
        <Logger name="subscribeFalseLog" level="info" additivity="false">  
            <appender-ref ref="subscribefalselog"/>
        </Logger>
        <Logger name="publishLog" level="info" additivity="false">  
            <appender-ref ref="publishlog"/>
        </Logger>
        <Logger name="publishFalseLog" level="info" additivity="false">  
            <appender-ref ref="publishfalselog"/>
        </Logger>
    </loggers>
</configuration>